<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabasePersonalPBO.Properties.Settings.searchDBConnString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\searchDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabasePersonalPBO.Properties.Settings.RecipesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Recipes.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabasePersonalPBO.Properties.Settings.UserDataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UserData.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>